@model Proyecto_Programacion_III.Models.Entidades.Usuario
<h2>Crear Usuario</h2>

<form asp-action="Create" method="post">

    <input asp-for="Nombre" class="form-control" placeholder="Nombre" />

    <input asp-for="Email" class="form-control" placeholder="Email" />

    <input asp-for="Password" type="password" class="form-control" placeholder="Contraseña" />

    <select asp-for="Rol" class="form-control">
        <option>Administrador</option>
        <option>Usuario</option>
    </select>

    <button type="submit">Guardar</button>
</form>