<h2>Dashboard Usuario</h2>

<br />

        <div class="row">

        <div class="col-md-3">
            <div class="card bg-success text-white p-3">
               <h4>Citas Activas</h4>
               <h2>@ViewBag.TotalCitas</h2>
            </div>
            </div>
        

        <br />

        <div class="col-md-3">
            <div class="card bg-danger text-white p-3">
                <h4>Canceladas</h4>
                <h2>@ViewBag.CitasCanceladas</h2>
            </div>
        </div>
        </div>

        <br />

        <div class="mt-3" >
            <h4>Proximas Citas</h4>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Fecha</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.Citas)
                    {
                        <tr>
                            <td>@item.FechaHora</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        </div>

<br />
<br />
<br />
<br />
<br />
<br />