<h2>Dashboard Usuario</h2>

<div class="row">

    <div class="col-md-4">
        <div class="card bg-info text-white p-3">
            <h4>Mis Citas</h4>
            <h2>@ViewBag.TotalCitas</h2>
        </div>
    </div>

</div>