@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Bienvenido al sistema de citas</h1>
</div>
<br />
<br />
<br />
<h2>Seleccionar tipo de acceso</h2>

<p>Rol actual: @Context.Session.GetString("Rol")</p>

<a asp-action="LoginAdmin" class="btn btn-primary">
    Administrador
</a>

<a asp-action="LoginUsuario" class="btn btn-primary">
    Usuario
</a>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
