@model Proyecto_Programacion_III.Models.Entidades.Servicio

@{
    ViewData["Title"] = "Crear Servicio";
}

<h2>Crear Servicio</h2>

<form asp-action="Create" method="post">

    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="Nombre"></label>
        <input asp-for="Nombre" class="form-control" />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Descripcion"></label>
        <input asp-for="Descripcion" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="DuracionMinutos"></label>
        <input asp-for="DuracionMinutos" type="number" class="form-control" />
        <span asp-validation-for="DuracionMinutos" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Costo"></label>
        <input asp-for="Costo" type="number" step="0.01" class="form-control" />
        <span asp-validation-for="Costo" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Estado"></label>
        <select asp-for="Estado" class="form-control"
                asp-items="Html.GetEnumSelectList<Proyecto_Programacion_III.Models.Entidades.Opciones.EstadoServicio>()">
        </select>
    </div>

    <br />

    <button type="submit" class="btn btn-primary">Guardar</button>
    <a asp-action="Index" class="btn btn-secondary">Volver</a>

</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}