@model Proyecto_Programacion_III.Models.Entidades.Servicio

<h2>Eliminar Servicio</h2>

<h4>¿Está seguro que desea eliminar este servicio?</h4>

<div>
    <strong>Nombre:</strong> @Model.Nombre <br />
    <strong>Duración:</strong> @Model.DuracionMinutos <br />
    <strong>Costo:</strong> @Model.Costo <br />
</div>

<form asp-action="Delete">
    <input type="hidden" asp-for="ServicioId" />
    <button type="submit" class="btn btn-danger">Eliminar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>
